body{
    margin: 0;
    background-color: #C7CFB7;
}
.container{
    height: 960px;
    width: 960px;
    background-color: #9DAD7F;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}
.container div:hover{
    background-color: #557174;
}
.etched{
    background-color: #557174;
}
.gridChanger{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9DAD7F;
    color: #557174;
    font-size: 2rem;
    border: none;
    border-radius: 5%;
    padding: 1% 2%;
}
